

/* all pages(change url) */ 

body {
	background: url() #e0e2e1; 
	margin: 0px;
	padding: 0px;
	font-family: 'Arial', sans-serif;
	font-size: 18px;
    color: gray;
}

h1, h2 {
	font-family: 'Times New Roman', serif;
	font-size: 36px;
	font-weight: bold;
	color: #6cc7bb;
}

a {
	color: rgb(131, 133, 133);

} 

a:hover {
	color: rgb(178, 191, 192);
	text-decoration: underline;
}

/* header/navbar */

header {
	background: white;
	border-bottom: 2px solid #afafaf;
	max-width: 100%;
}

#headerbar {
	width: 960px;
	height: 100px;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#header-text-box {
	background: #6cc7bb;
	width: 240px;
	height: 100px;
	display: flex;
	align-items: center;
}

#headertext {
	margin: auto;
	color: white;
}

nav {
	height: 20px;
	display: flex;
	justify-content: flex-end;
}

.navline {
	background: #949b9a;
	width: 1px; 
	height: 100%;
}

.navlink {
	background: white;
	height: 100%;
	padding: 0px 20px;
}


/*contact.html */

#form {
	width: 960px;
	margin: 38px auto;
  	display: flex;
	justify-content: space-between;
}

section {
	background: white;
	border: 1px solid #cfd1d1;
	width: 646px;
	padding: 40px 30px 30px 30px;
}

#sectiondiv {
	background: #aab4b3;
	height: 3px;
	margin: 30px 0 20px 0;
}

.btn {
	background: #6cc7bb;
	border: 0px;
	outline: 1px;
	width: auto;
	margin-top: 15px;
	padding: 10px 30px;
	font-family: 'Times New Roman', serif;
	font-size: 20px;
	color: white;
}

.form-control {
	border: 1px solid #ebebeb;
	width: 564px;
	margin-top: 7px;
	padding: 9px;
	font-family: 'Times New Roman', serif;
	font-size: 16px;
	color: #cacccc;
}
